* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
}

h1 {
    text-shadow: 2px 2px 5px teal;
}

h3 {
    text-align: center;
    text-shadow: 1px 1px 3px teal;
}

.btn-secondary {
    margin: auto;
}

.buttoncontainer,
.counter {
    display: flex;
    justify-content: center;
}

.gamewrapper,
.content {
    display: none;
    margin-bottom: 20%;
}

#question {
    padding: 20px;
}

img {
    max-width: 400px;
}